---
import type { MarkdownInstance } from "astro";
import type {
  FrontmatterIntro,
  FrontmatterPost,
} from "../../posts/frontmatter-post";
import { formatIsoDate } from "../../utils/date-utils";
interface Props {
  post?: MarkdownInstance<FrontmatterPost>;
  intro: MarkdownInstance<FrontmatterIntro>;
}
const { post, intro } = Astro.props;
---

<article class="prose max-w-none p-4 prose-custom dark:prose-invert">
  <h1 class="mb-1">{intro.frontmatter.title}</h1>
  <div class="text-sm text-muted-foreground has-[+_lite-youtube]:mb-8">
    {formatIsoDate(intro.frontmatter.date)}
  </div>
  {(<intro.Content />)}
  {post && <post.Content />}
</article>
